apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: gangwon
spec:
  replicas: 1

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1

  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: upstage-gangwon-backend:lite
        ports:
        - containerPort: 8880
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: app-secret
